/***************************************** BASIC *****************************************/

* {

	list-style: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 20px;

	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	outline: none;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	-webkit-box-shadow: none;
	box-shadow: none;
}



.lazyload {
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
}

.lazyloaded {
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
	transition: all 1000ms;
}

.loader {
	display: none;
}





@font-face {
	font-family: "WhyteInktrap-Light";
	src: url('import/WhyteInktrap-Light.woff');
	src: url('import/WhyteInktrap-Light.woff2') format('woff2'), url('import/WhyteInktrap-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "tesseractweb-lightitalic";
	src: url('import/tesseractweb-lightitalic.woff');
	src: url('import/tesseractweb-lightitalic.woff2') format('woff2'), url('import/tesseractweb-lightitalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}




/***************************************** FONT & ICON *****************************************/



.referenceicons {
	margin-top: 0px;
	width: 20px;
	height: 60px;
	display: inline-block;
}



img.icon.link.icon-credits{
float: right;
}

.img.icon.icon-thumbs{
	left:0;
}

.text-icon {
	position: relative;
	top: 4px;
	width: 20px;
	height: 20px;
	display: inline-block;
}


h1 {
	font-size: 14px;
	line-height: 20%;
	letter-spacing: 0px;
	padding: 20px 0px 18px 0px;
}



hr {
	width: 100%;
	border: 0px;
	height: 1px;
	background: black;
	margin: 10px 0px 10px 0px;
}

/***************************************** LINKS *****************************************/

a {
	text-decoration: none;
	transition: color 0.15s ease-in-out;
}







/***************************************** HOVER EFFECTS *****************************************/






/***************************************** SLIDESHOW THUMBS *****************************************/

.icon-thumbs,
.carousel-thumb img {
	cursor: pointer;
}

.carousel-overlay {
	position: absolute;
	top: 56px;
	width: 100%;
	height: calc(100% - 50px);
	max-height: calc(80vh - 50px);
	display: none;
	padding: 10px 0px 0px 10px;
}

.carousel-overlay.open {
	display: block;
}

.carousel-thumbs {
	width: 980px;
	max-width: 100%;
	margin: 0 auto;
	font-size: 0px;
	text-align: center;
		overflow: auto;
	position: relative;
	top: 50%;
	max-height: 100%;
	-ms-transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}

.carousel-thumb {
	width: auto;
	height: 120px;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}

.carousel.blur {
	-webkit-filter: blur(25px);
	-moz-filter: blur(25px);
	-o-filter: blur(25px);
	-ms-filter: blur(25px);
	filter: blur(25px);
	opacity: 0.8;
}

.carousel-thumb img {
	height: 100%;
}





/***************************************** DESKTOP *****************************************/



.about.mobile {
	display: none;
}



/***************************************** ERROR *****************************************/

body.error {
	background: white;
}








/***************************************** RESPONSIVE *****************************************/

@media screen and (max-width: 1439px) {


@media screen and (max-width: 1200px) {


}

@media screen and (max-width: 1023px) {
	/***************************************** BASIC *****************************************/

	/***************************************** HEADER *****************************************/

	/***************************************** OVERVIEW *****************************************/
	.content {
		float: none !important;
		width: 100%;
		position: relative;
	}
	.content .column {
		width: 100% !important;
		border-right: none;
		float: none !important;
		padding-bottom: 70px !important;
	}
	.content .column .column-content {
		width: 100%;
		float: left;
	}
	.column-icon,
	.close {
		display: none;
	}



@media screen and (max-width: 767px) {
	/***************************************** SINGLE PROJECT *****************************************/

	.section-thumb {
		width: 100px;
	}
	.section.imagegrid>div>div {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		-moz-column-gap: 1px;
		-webkit-column-gap: 1px;
		column-gap: 1px;
	}


	.carousel-thumb {
		width: auto;
		height: 60px;
		display: inline-block;
		padding: 5px !important;
		vertical-align: top;
	}
	/***************************************** LIST *****************************************/
	.column.list td {
		width: 100vw !important;
		display: block;
		max-width: none !important;
	}
	.column-content thead {
		display: none;
	}
	.column.list tr {
		position: relative !important;
	}
	.column.list td:nth-of-type(3) {
		position: absolute !important;
		float: right !important;
		right: 0px !important;
		width: auto !important;
		margin-top: -39px;
	}
	.column.list td:nth-of-type(1) {
		padding-bottom: 0px;
	}
	.column.list td:nth-of-type(2) {
		padding-top: 0px;
	}
	
	/***************************************** LOOKBOOK *****************************************/
	body.home {
		overflow: hidden;
	}
}